
.formulario {
    margin: 0px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.contenedor{
    margin-top: 10px;
    display: flex;
}

.agregarDatos {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.buscador {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    align-items: center;
    background-color: black;
}

.busqueda{
    display: flex;
}

.buscador h1 {
    color: white;
}

.buscador Button {
    margin: 10px;
    height: 40px;
}

.buscador input {
    margin: 10px;
    width: 300px;
}

.lista {
    padding: 40px 0px;
    display: flex;
    justify-content: center;
}

.resultado {
    display: flex;
    flex-direction: column;
    margin: 10px;
    color: beige;
}

.agregar button {
    margin-top: 10px;
}